[Unit]
Description=fan_control
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/fan_control

[Install]
WantedBy=multi-user.target
